<%- include('header.ejs') %>

<main>

    <div class="home-top">

        <div class="home-left">

            <img class="home-content-bg" src="../images/abstract2.png" alt="image">

            <div class="home-content">
                <div>
                    <h1>Memory Lane</h1>
                </div>
                <div class="home-para">
                    <p><%= firstPara %></p>
                </div>
            </div>    
        </div>
       
        <div class="home-right">

            <img class="click" src="../images/click.png" alt="image">
            <button class="composeButton"><a href="/compose">New Day!</a></button>
        </div>
    
    </div>
    
    <div class="new-posts">
        <% posts.forEach((post) => { %>
            <div class="each-post">
                <h2 class="h2-home"><%= post.composeTitle %> - <%= post.todayDate %></h2> 
                <p class="p-home"><%= post.composeContent.substring(0, 100) + "..." %> <a href="/posts/<%= post.composeTitle %>" style="text-decoration: none; color: #a7e6f6;">Full Post</a> </p>        
            </div>
        <% }) %> 
      
    </div>
   
</main>

<%- include('footer.ejs') %>


  