<%- include('header.ejs') %>

<main>

    <div>
        <div class="home-top">
            <h1>Home page</h1>
            <button class="composeButton"><a href="/compose">Compose</a></button>
        </div>
        <div>
            <p><%= firstPara %></p>
        </div>
    </div>    

    <% posts.forEach(post => { %>
        <h2 class="h2-home"><%= post.composeTitle %></h2> 
        <p class="p-home"><%= post.composeContent.substring(0, 100) + "..." %> <a href="/posts/<%= post.composeTitle %>">Read More</a> </p>
    <% }) %>

</main>

<%- include('footer.ejs') %>





  